{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href='{% static "css/inicio.css" %}'>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <title>Menu Principal</title>
</head>
<body class="bodyInicio">
    <div class="agrupacionBox">
        <div class="agrupacion">
            <h1>Bienvenidos al sistema de recetas</h1>
            <h3>A continuacion tendra tres opciones</h3>
            <h4>1. Filtrar la receta por su nombre <a class="btn btn-primary" href="nombreReceta/">Ir</a></h4>
            <h4>2. Filtrar receta mediante ingredientes <a class="btn btn-primary" href="ingredientes/">Ir</a></h4>
            <h4>3. Ver todas las recetas <a class="btn btn-primary" href="lista_ingredientes/">Ir</a></h4>
        </div>
    </div>
</body>
</html>